.topnav {
  color: white;
  background-color: #3e3c3c;
  position: absolute;
  width: 380px;
  height: 92px;
  left: 0;
  top: 0;
  padding-right: 21px;
}

.topnav #myLinks {
  display: none;
}

a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

a .active {
  position: relative;
  width: 77px;
  height: 24px;
  left: 28px;
}

.menor {
  width: 54px;
  height: 16px;
  left: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  padding-left: 40px;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: #3c3a39;
}

/* end of tobnav */
.roger {
  width: 351px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  position: relative;
  top: 80px;
  left: -8px;
  background-color: #1c1a19;
}

.pad {
  position: relative;
  color: #ff6b00;
  width: 327px;
  height: 124px;
  left: 15px;
  bottom: 50px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 37px;
  letter-spacing: 0.37px;
}

.k {
  position: relative;
  bottom: 50px;
}

.supporttest {
  color: white;
  width: 327px;
  height: 27px;
  position: relative;
  bottom: 40px;
  left: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
}

.palet {
  display: flex;
  position: absolute;
  font-size: 0;
  justify-content: space-around;
  left: -10px;
  align-items: center;
  bottom: 110px;
}

.palet a:hover {
  background-color: floralwhite;
}

.imagen1 {
  position: relative;
  bottom: 100px;
  padding-left: 65%;
  display: block;
  padding-top: 40px;
}

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-container {
  background-color: #1c1a19;
}

.theme1 {
  color: white;
  width: 300px;
  height: 123px;
  left: 24px;
}

.text2 {
  width: 350px;
  height: 123px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

img {
  margin: -10px;
  display: flex;
  position: relative;
}

.myresent {
  width: 390px;
  height: 4000px;
  position: relative;
  top: 60px;
  left: 0;
}

.work {
  width: 327px;
  height: 83px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  position: relative;
  left: 50px;
  padding-top: 70px;
}

.fit {
  padding-left: 50px;
  padding-top: 40px;
  width: 327px;
}

.multi {
  padding-left: 40px;
  padding-top: 30px;
  position: static;
  width: 327px;
  height: 36px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  color: #091e42;
}

.daily {
  width: 327px;
  padding-left: 40px;
  height: 147px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.botones4 {
  width: 49px;
  height: 40px;
  position: relative;
  left: 90px;
  padding: 10px 19px;
  margin-left: 20px;
}

form ul {
  position: relative;
  top: 110px;
  list-style: none;
}

.botones4 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0;
  align-items: center;
}

.botones4 button {
  background-color: rgba(255, 255, 255, 0.24);
  color: #091e42;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.proyect button {
  width: 100px;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  background: #ff6b00;
  color: #fff;
  margin-left: 39px;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.dashbord {
  position: relative;
  bottom: 330px;
  left: 40px;
  width: 295px;
  height: 81px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.texto3 {
  position: relative;
  width: 295px;
  height: 87px;
  bottom: 340px;
  left: 40px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.botones3 {
  position: relative;
  bottom: 340px;
  margin-right: 90px;
}

.botones3 button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 0.24);
  color: #fff;
  margin-left:5px;
}

.botones3 ul {
  float: right;
  display: flex;
  font-size:0;
  justify-content: space-around;
  align-items: center;
  

  /*display: flex;
  font-size: 0;
  justify-content: space-around;
  align-items: center;*/
}

.brian button {
  position: relative;
  bottom: 323px;
  left: 29px;
  width: 327px;
  height: 60px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  background-color: #ff6b00;
  font-size: 17px;
  color: #fff;
}

.container {
  position: relative;
}

.jo {
  position: relative;
  bottom: 250px;
}

.ran {
  position: relative;
  bottom: 490px;
}

.ad {
  position: relative;
  bottom: 740px;
}

.ria {
  position: relative;
  bottom: 990px;
}

.ald {
  position: relative;
  bottom: 1240px;
  height: 40px;
}

.r {
  margin-left: 8px;
}

.h {
  margin-left: 5px;
}

.b {
  margin-left: 5px;
}

.profesional {
  padding-left: 40px;
  padding-top: 18px;
}

.z {
  position: relative;
  bottom: 790px;
  width: 380px;
  height: 1760px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  left: -8px;
  background-color: #1c1a19;
}

.abouted {
  width: 380px;
  height: 1000px;
  background-size: 270px;
  position: relative;
  background-color: #1c1a19;
}

.frame {
  position: relative;
  left: 180px;
  width: 210px;
  bottom: 30px;
}

.line {
  padding-left: 38px;
}

.p {
  position: relative;
  width: 327px;
  height: 79px;
  left: 30px;
  top: 30px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 78px;
  line-height: 88px;
  flex: none;
  color: #ff6b00;
}

.pack {
  height: 300px;
  background: url(../pictures/Frame1.png) right bottom no-repeat;
  position: relative;
  bottom: 90px;
}

body {
  height: 6000px;
}

.hello {
  position: relative;
  width: 327px;
  height: 148px;
  left: 30px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #f4f5f7;
}

.proyect2 button {
  width: 161px;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  background: #ff6b00;
  color: #fff;
  margin-left: 39px;
  margin-top: 30px;
}

.mob {
  position: relative;
  top: 10px;
  right: 20px;
}

.letras2 {
  width: 164px;
  height: 24px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin-left: 25px;
  color: #fff;
}

.skills {
  width: 164px;
  height: 24px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin-left: 25px;
  color: #fff;
  padding-left: 10px;
}

.letras4 {
  width: 162px;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  margin-bottom: 10px;
  align-items: center;
  color: #fff;
}

.language {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  position: relative;
  padding-left: 35px;
}

.rectangle {
  display: flex;
  align-items: center;
  width: 90px;
}

.language ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: relative;
  bottom: 40px;
  padding-left: 50px;
}

.agrupador {
  position: relative;
  bottom: 40px;
}

.experience {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 60px;
  padding-left: 40px;
}

.see:hover {
  background-color: rgb(255, 140, 0);
}

.h:disabled {
  background-color: #f4f1f0;
}

.botones3:enabled {
  background-color: #f4f1f0;
}

footer {
  width: 380px;
  height: 990px;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  right: 39px;
}

.interested {
  width: 327px;
  height: 216px;
  position: relative;
  top: 70px;
  left: 25px;
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 44px;
  color: #172b4d;
}

::placeholder {
  height: 18px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #979493;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  display: flex;
}

input,
textarea {
  width: 300px;
  height: 110px;
  box-sizing: border-box;
  background-color: #f5eec8;
  margin-top: 20px;
}

form input {
  height: 50px;
  background-color: #fff;
  border-top: #fff;
  border-right: #fff;
  border-left: #fff;
  margin-top: 2em;
}

.get {
  width: 130px;
  height: 60px;
  margin-top: 20px;
  margin-left: 50px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background-color: #ff6b00;
}

.get:hover {
  background-color: rgb(255, 140, 0);
}

.palet2 {
  display: flex;
  flex-direction: row;
  position: absolute;
  font-size: 0;
  justify-content: space-around;
  left: 10px;
  align-items: center;
  bottom: 110px;
}

.palet2 a:hover {
  background-color: rgb(231, 198, 130);
}

.palet2 img {
  padding: 6px;
}

.shape {
  width: 160px;
  height: 8px;
  position: relative;
  left: 60px;
  bottom: 40px;
}

.line2 {
  width: 375px;
  height: 6px;
  background-color: #b9bbc0;
  position: relative;
  top: 200px;
}
